.main-cnt{
    height: 600px;
    width: 350px;
    border: 5px solid rgb(135, 24, 44);
    /* background-color: rgb(225, 166, 166); */
    background: linear-gradient(180deg, white 0%, white 35%, rgb(225, 166, 166) 100%);
    margin: auto;
}

.logo{
    height: 200px;
    width: 200px;
    background-image: url(logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    /* border: 2px solid rgb(135, 24, 44); */
    box-sizing: border-box;
    margin: 50px 0 0 70px;
}

.menu{
    height: 40px;
    width: 150px;
    margin: 50px 0 0 100px;
}

button{
    height: 100%;
    width: 100%;
    letter-spacing: 8px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid black;
}

.potluckinfo{
    height: 150px;
    width: 90%;
    /* border: 1px solid black; */
    margin: 40px 0 0 15px;
    text-align: center;
}

h3{
    font-size: 25px;
    letter-spacing: 5px;
    font-family:cursive;
}
h5{
    margin: -10px 0 0 0;
    font-family:'Times New Roman', Times, serif;
    font-size: smaller;
}

#line{
    margin: -10px 0 0 0;
}

p{
    font-size: smaller;
}

#del{
    margin: 7px 0 0 0;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 8px;
    font-family: cursive;
    letter-spacing: 1px;
    margin: 0 0 0 0;
}

.time{
    height: 50px;
    width: 90%;
    /* border: 1px solid green; */
    text-align: center;
    margin: 0 0 0 15px;
}